@font-face { font-family: 'Evolventa'; src: url('font/Evolventa-Regular.otf') format('opentype'); font-weight: normal; }
@font-face { font-family: 'Evolventa'; src: url('font/Evolventa-Bold.otf') format('opentype'); font-weight: bold; }

:root { --p-blue: #0b3d91; --text: #333; --mist-blue:#E6F2FA; --s-blue:#1F6FB2; --acc-cyan:#4CC9F0; --c-gray:#B8C7D6 }
body { margin: 0; font-family: 'Evolventa', sans-serif; background-image: url('assets/gradient.jpg'); background-size: cover; background-position: center; background-attachment: fixed; min-height: 100vh; color: #fff; overflow-x: hidden; display: flex; flex-direction: column; }
nav { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 15px 3% 0 3%; 
        position: fixed; 
        z-index: 10; 
        background: rgba(255, 255, 255, 0);
        width: 94%;
        transition: all 0.2s ease;
 }
 nav.scrolled{
        background-color: white;
 }
.logo { font-size: 22px; color: white; font-weight: bold; text-decoration: none; }
.logo.scrolled{color: var(--p-blue) ;}
.nav-links { display: flex; gap: 55px; list-style: none; margin: 0; padding: 0; }

.nav-links a { text-decoration: none; color: white; font-weight: bold; font-size: 20px;transition: all 0.5s ease;display: inline-block;}
.nav-links a.scrolled{color:#0b2d4a ;}
.nav-links a:hover{
        transform: translateY(-3px);
}
.donate-btn { 
        text-decoration: none;
         color: var(--text); 
         background: #f8fafc00; 
         border: 5px solid var(--mist-blue); 
         padding: 10px 30px; 
         border-radius: 12px; 
         font-weight: bold;
         margin-bottom: 10px;
         transition: all 0.15s linear;
         color: white;
        }
.donate-btn.scrolled{color:black}
.donate-btn.scrolled:hover{
        background-color: #e5e7eb;
        color: white;
}
.donate-btn:hover{
        background-color: var(--mist-blue);
        color: var(--text);
}
h1 { font-size: 50px; line-height: 1; margin-bottom: 20px; font-weight: bold; }
h1 span { color: #0b2d4a; }
        